@import url(../../../css/csslayer.css);
#factories {
  position: relative;
}
#factories .factory {
  position: absolute;
  background: url("img/factory.png");
  width: 250px;
  height: 250px;
  display: inline-block;
}
#factories .factory-center {
  position: absolute;
  display: inline-block;
}
#factories.selectable .tile:not(.tile0) {
  cursor: pointer;
  pointer-events: all;
}

.player-table {
  background: url("img/playerboard.jpg");
  width: 740px;
  height: 484px;
  position: relative;
}
.player-table .line {
  display: inline-block;
  position: absolute;
  right: 389px;
  border: 3px dashed transparent;
  height: 63px;
  pointer-events: none;
}
.player-table .line.floor {
  right: 209px;
  top: 362px;
  left: 1px;
  height: 116px;
}
.player-table .line.selectable {
  border-color: red;
  pointer-events: all;
  cursor: pointer;
}
.player-table .wall {
  position: absolute;
  top: 12px;
  left: 385px;
  width: 337px;
  height: 339px;
}
.player-table .wall .tile.highlight {
  animation: highlight-animation 0.7s alternate 2;
}
@keyframes highlight-animation {
  100% {
    box-shadow: 0 0 30px 15px white;
  }
}

.tile {
  width: 62px;
  height: 62px;
  display: inline-block;
  position: absolute;
  border: 2px outset;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px black;
  pointer-events: none;
}
.tile.tile0 {
  background: url("img/first-player.svg") white;
  border-color: white;
}
.tile.tile1 {
  background: url("img/black.svg");
  border-color: #231f20;
}
.tile.tile2 {
  background: url("img/cyan.svg");
  border-color: #1dcad3;
}
.tile.tile3 {
  background: url("img/blue.svg");
  border-color: #0083ad;
}
.tile.tile4 {
  background: url("img/yellow.svg");
  border-color: #ffbf3c;
}
.tile.tile5 {
  background: url("img/red.svg");
  border-color: #f5333f;
}

html {
  background: url("img/background.jpg") #00587a;
  background-repeat: repeat;
  background-blend-mode: multiply;
}
