@import url(../../../css/csslayer.css);
#factories {
  position: relative;
}
#factories .factory {
  position: absolute;
  background: url("img/factory.png");
  width: 250px;
  height: 250px;
  display: inline-block;
  pointer-events: none;
}
#factories .factory-center {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
}
#factories.selectable .tile:not(.tile0) {
  cursor: pointer;
  pointer-events: all;
}

#table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: auto;
  position: relative;
  transform-origin: left top;
}

.player-table-wrapper {
  position: relative;
}
.player-table-wrapper .player-name {
  position: absolute;
  font-size: 20px;
  font-family: "Algeria";
  top: 80px;
  left: 53px;
  width: 120px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.player-table-wrapper .player-name.dark {
  color: #012c3c;
  top: 79px;
  left: 52px;
}
.player-table-wrapper .player-table {
  background: url("img/playerboard.jpg");
  width: 740px;
  height: 484px;
  position: relative;
  border: 2px solid black;
  border-radius: 8px;
  margin: 5px;
}
.player-table-wrapper .player-table .line {
  display: inline-block;
  position: absolute;
  right: 389px;
  border: 3px dashed transparent;
  height: 63px;
  pointer-events: none;
}
.player-table-wrapper .player-table .line.floor {
  right: 209px;
  top: 362px;
  left: 1px;
  height: 116px;
}
.player-table-wrapper .player-table .line.selectable {
  border-color: red;
  pointer-events: all;
  cursor: pointer;
}
.player-table-wrapper .player-table .column {
  display: inline-block;
  position: absolute;
  border: 3px dashed transparent;
  height: 63px;
  width: 63px;
  pointer-events: none;
}
.player-table-wrapper .player-table .column.floor {
  right: 209px;
  top: 362px;
  left: 1px;
  height: 116px;
  width: unset;
}
.player-table-wrapper .player-table .column.selectable {
  border-color: red;
  pointer-events: all;
  cursor: pointer;
}
.player-table-wrapper .player-table .wall {
  position: absolute;
  top: 12px;
  left: 385px;
  width: 339px;
  height: 341px;
}
.player-table-wrapper .player-table .wall.colored-side {
  background: #ffffffb0;
  box-shadow: 0 0 10px 5px #ffffffb0;
}
.player-table-wrapper .player-table .wall.grayed-side {
  background: #b0b0b0f0;
  box-shadow: 0 0 10px 5px #b0b0b0f0;
}
.player-table-wrapper .player-table .wall .tile.highlight {
  animation: highlight-animation 0.7s alternate 2;
}
@keyframes highlight-animation {
  100% {
    box-shadow: 0 0 30px 15px white;
  }
}

.player_board_content .tile {
  position: relative;
  margin: 5px;
}
.player_board_content .hand {
  transform-origin: left top;
}
.player_board_content .hand.empty {
  display: none;
}

.tile {
  width: 58px;
  height: 58px;
  display: inline-block;
  position: absolute;
  border: 2px outset;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px black;
  pointer-events: none;
}
.tile.tile0 {
  background: url("img/first-player.svg") white;
  border-color: white;
}
.tile.tile1 {
  background: url("img/black.svg");
  border-color: #231f20;
}
.tile.tile2 {
  background: url("img/cyan.svg");
  border-color: #1dcad3;
}
.tile.tile3 {
  background: url("img/blue.svg");
  border-color: #0083ad;
}
.tile.tile4 {
  background: url("img/yellow.svg");
  border-color: #ffbf3c;
}
.tile.tile5 {
  background: url("img/red.svg");
  border-color: #f5333f;
}

#firstPlayerToken {
  width: 32px;
  height: 32px;
  position: relative;
  box-shadow: 1px 1px 1px 1px #00000099;
}

html {
  background: url("img/background.jpg") #00587a;
  background-repeat: repeat;
}
html:not(.background2) {
  background-blend-mode: multiply;
}
html.background2 {
  background: url("img/background2.jpg") #fce7d8;
}

.mode_3d #game_play_area_background {
  background: url("img/background.jpg") #00587a;
  background-repeat: repeat;
  background-blend-mode: multiply;
}

@font-face {
  font-family: "Algeria";
  src: url("img/algeria.woff2") format("woff2"), url("img/algeria.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#zoom-wrapper {
  position: relative;
}
#zoom-wrapper #zoom-controls {
  position: absolute;
  top: 0;
  right: 0;
}
#zoom-wrapper #zoom-controls button {
  width: 32px;
  height: 32px;
  background: url("img/zoom.svg");
  background-size: auto 220%;
}
#zoom-wrapper #zoom-controls button:not(.disabled) {
  cursor: pointer;
}
#zoom-wrapper #zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#zoom-wrapper #zoom-controls #zoom-in {
  background-position: 6% 94%;
}
#zoom-wrapper #zoom-controls #zoom-out {
  background-position: 82% 94%;
}

#page-title .tile {
  margin: 5px 5px -10px 5px;
  width: 32px;
  height: 32px;
  position: relative;
  box-shadow: 1px 1px 1px 1px #00000099;
}

.log .tile {
  margin: 2px 2px -2px 2px;
  position: relative;
  width: 16px;
  height: 16px;
  box-shadow: none;
}
