#factories {
    .factory {
        background: url('img/chocolatier/factory.png');

        &[data-special-factory] {
            background: url('img/chocolatier/special-factories.png');
        }

        @for $i from 1 through 9 {
            &[data-special-factory="#{$i}"] {
                background-position-x: (($i - 1) * 100% / 8) ;
            }
        }
    }
    
    #bag {
        background-image: url('img/chocolatier/bag.png');
        width: 164px;
        height: 164px;
        margin-left: -32px;
    }

    #special-factories-help {
        position: absolute;
        top: var(--top);
        right: 10px;
        cursor: pointer;
        width: auto;
        padding: 10px 20px;
        font-size: 150%;
        background: #720d2f;
        color: #f1e5bc;
        border-radius: 5px;
    }
}

.tile-count {    
    &.tile1 {
        color: #040707;

        &.hover {
            box-shadow: 0 0 5px 5px #040707;
        }
    }
    &.tile2 {
        color: #720d2f;
        
        &.hover {
            box-shadow: 0 0 5px 5px #720d2f;
        }
    }
    &.tile3 {
        color: #51c4cd;
        
        &.hover {
            box-shadow: 0 0 5px 5px #51c4cd;
        }
    }
    &.tile4 {
        color: #9a542e;
        
        &.hover {
            box-shadow: 0 0 5px 5px #9a542e;
        }
    }
    &.tile5 {
        color: #f1e5bc;
        
        &.hover {
            box-shadow: 0 0 5px 5px #f1e5bc;
        }
    }
}