#popin_azulChocolatierVariantHelpDialog_contents {
    max-width: 100vw;
    overflow-x: auto;
}

#popin_azulChocolatierVariantHelpDialog {
    background: white;
    background-repeat: repeat;
    max-width: 100vw;
    max-height: 80vh;
    overflow: hidden;
}

#help-popin {
    width: 520px;
    max-width: 35rem;
    max-height: calc(80vh - 80px);
    overflow: auto;

    .row {
        padding: 10px 5px;

        &.disabled {
            background: #666666;
            filter: grayscale(1);
        }

        .title {
            color: #A41D44;
        }

        .picture {
            float: right;
            
            .factory {
                width: 62.5px;
                height: 62.5px;
                background-image: url('img/chocolatier/special-factories.png');
                background-size: auto 100%;
                display: inline-block;

                @for $i from 1 through 9 {
                    &[data-special-factory="#{$i}"] {
                        background-position-x: (($i - 1) * 100% / 8) ;
                    }
                }

                &:not(:first-child) {
                    margin-left: -25px;
                }
            }
        }
    }
}