.player-table-wrapper {
    .player-table {

        @for $board from 1 through 4 {
            &[data-board="#{$board}"] {
                background: url('img/chocolatier/playerboard#{$board}.jpg');
            }
        }

        .wall {
            left: 383px;
            background: #ffffffb0;
            box-shadow: 0 0 10px 5px #ffffffb0;
        }
    }
    
    .line:not(.floor) {
        background: #ffffffb0;
        box-shadow: 0 0 10px 5px #ffffffb0;
    }
}

&.cb .wall-tile-cb {
    opacity: 0;
}
