.player-table-wrapper {
    .player-table {
        background: url('img/chocolatier/playerboard.jpg');

        &.variant {            
            background: url('img/chocolatier/playerboard-variant.jpg');
        }

        .wall {
            left: 383px;
            background: #ffffffb0;
            box-shadow: 0 0 10px 5px #ffffffb0;
        }
    }
    
    .line:not(.floor) {
        background: #ffffffb0;
        box-shadow: 0 0 10px 5px #ffffffb0;
    }
}

&.cb .wall-tile-cb {
    opacity: 0;
}
