html[data-chocolatier-skin="true"] {
  #loader_mask #game_box_loader_front, #loader_mask #game_box_loader_back {
      background-image: url('img/chocolatier/game-box.png');
      background-repeat: no-repeat;
      background-size: 100% auto;
      width: 0px;
      height: 0px;
      padding:500px 0 0 500px;
  }

  @import 'factories';
  @import 'players-tables';
  @import 'tile';
  @import 'help';

  background: url('img/chocolatier/background.jpg') #fff8f0;
  background-repeat: repeat;


  &.background2 {  
    background: url('img/chocolatier/background2.jpg') #fff8f0;
  }

  .mode_3d #game_play_area_background {
    background: url('img/chocolatier/background.jpg') #fff8f0;
    background-repeat: repeat;
  }

  #last-round {
    background: #a7d8bd;
    color: #9a542e;
  }
    
}