#factories {
    position: relative;

    .factory {
        position: absolute;
        background: url('img/factory.png');
        width: 250px;
        height: 250px;
        display: inline-block;
    }

    .factory-center {
        position: absolute;
        display: inline-block;
    }

    &.selectable {
        .tile:not(.tile0) {
            cursor: pointer;
            pointer-events: all;
        }
    }
}