@import url(../../../css/csslayer.css);

@import 'factories/factories';
@import 'players-tables/players-tables';
@import 'playerboards';
@import 'tile';

html {
    background: url('img/background.jpg') #00587a;
    background-repeat: repeat;
    background-blend-mode: multiply;
}

@font-face {
    font-family: 'Algeria';
    src: url('img/algeria.woff2') format('woff2'),
        url('img/algeria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
