@import url(../../../css/csslayer.css);

@import 'factories/factories';
@import 'players-tables/players-tables';
@import 'playerboards';
@import 'tile';

html {
    background: url('img/background.jpg') #00587a;
    background-repeat: repeat;
    background-blend-mode: multiply;
}