
#table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
    position: relative;
    transform-origin: left top;
}

.player-table-wrapper {
    position: relative;

    .player-hand {
        height: 75px;
        background: #FFFFFFDD;
        margin-bottom: -5px;
        margin-left: 15px;
        margin-right: 15px;
        box-shadow: 0 0 5px 5px #FFFFFFDD;
        opacity: 1;
        transition: opacity 0.5s;

        &.empty {
            opacity: 0;
        }
    }

    .player-name {
        position: absolute;
        font-size: 20px;
        font-family: 'Algeria';
        top: 74px;
        left: 46px;
        width: 120px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.dark {
            color: #012c3c;
            top: 73px;
            left: 45px;
        }
    }
    
    .player-table {
        background: url('img/playerboard.jpg');
        width: 740px;
        height: 484px;
        position: relative;

        border: 2px solid black;
        border-radius: 8px;
        margin: 5px;
        z-index: 1;

        &.variant {            
            background: url('img/playerboard-variant.jpg');
        }
        &:not(.variant) {
            .wall {
                background: #ffffffb0;
                box-shadow: 0 0 10px 5px #ffffffb0;
            }
        }

        .line {
            display: inline-block;
            position: absolute;
            right: 389px;
            border: 3px dashed transparent;
            height: 63px;
            pointer-events: none;

            &.floor {
                right: 209px;
                top: 362px;
                left: 1px;
                height: 116px;
                overflow: hidden;
            }

            &.selectable {
                border-color: red;
                pointer-events: all;
                cursor: pointer;
            }
        }

        .column {
            display: inline-block;
            position: absolute;
            border: 3px dashed transparent;
            height: 63px;
            width: 63px;
            pointer-events: none;

            &.floor {
                right: 209px;
                top: 362px;
                left: 1px;
                height: 116px;
                width: unset;
            }

            &.selectable {
                border-color: red;
                pointer-events: all;
                cursor: pointer;
            }
        }

        .wall {
            position: absolute;
            top: 12px;
            left: 385px;
            width: 339px;
            height: 341px;

            .tile {
                &.highlight {
                    animation: highlight-animation 0.7s alternate 2;
                }
                
                @keyframes highlight-animation {
                    100% { 
                        box-shadow: 0 0 30px 15px white;
                    }
                }
                
            }
        }
    }
}